/*
*  ============================
*    [Fonts]
*  ============================
*/
@import 'aos/dist/aos.css';
@font-face {
  font-family: "Anton-Regular";
  src: url("/src/assets/fonts/Anton-Regular.woff2") format("woff2"), url("/src/assets/fonts/Anton-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-Light";
  src: url("/src/assets/fonts/OpenSans-Light.woff2") format("woff2"), url("/src/assets/fonts/OpenSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*
*  ============================
*    [Fonts]
*  ============================
*/
@font-face {
  font-family: "Anton-Regular";
  src: url("/src/assets/fonts/Anton-Regular.woff2") format("woff2"), url("/src/assets/fonts/Anton-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-Light";
  src: url("/src/assets/fonts/OpenSans-Light.woff2") format("woff2"), url("/src/assets/fonts/OpenSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 100;
}

a {
  text-decoration: none;
  outline: 0;
  font-family: "Anton-Regular", sans-serif;
}

a:hover,
a:active,
a:focus {
  outline: 0;
  color: powderblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton-Regular", sans-serif;
  width: 100%;
  line-height: 1.1;
  color: white;
  transition: color 300ms ease;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  font-size: 50px;
}
@media screen and (min-width: 1010px) {
  h1 {
    font-size: 65px;
  }
}
@media screen and (min-width: 1210px) {
  h1 {
    font-size: 75px;
  }
}
@media screen and (min-width: 1532px) {
  h1 {
    font-size: 105px;
  }
}

h2 {
  font-size: 35px;
}
@media screen and (min-width: 1010px) {
  h2 {
    font-size: 55px;
  }
}
@media screen and (min-width: 1210px) {
  h2 {
    font-size: 55px;
  }
}
@media screen and (min-width: 1532px) {
  h2 {
    font-size: 75px;
  }
}

h3 {
  font-size: 45px;
}
@media screen and (min-width: 1010px) {
  h3 {
    font-size: 55px;
  }
}
@media screen and (min-width: 1210px) {
  h3 {
    font-size: 75px;
  }
}
@media screen and (min-width: 1532px) {
  h3 {
    font-size: 75px;
  }
}

h4 {
  font-size: 20px;
}
@media screen and (min-width: 1010px) {
  h4 {
    font-size: 20px;
  }
}
@media screen and (min-width: 1210px) {
  h4 {
    font-size: 20px;
  }
}
@media screen and (min-width: 1532px) {
  h4 {
    font-size: 26px;
  }
}

h6 {
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
}
h6 {
  font-size: 12px;
}
@media screen and (min-width: 1010px) {
  h6 {
    font-size: 12px 12px;
  }
}
@media screen and (min-width: 1210px) {
  h6 {
    font-size: 12px;
  }
}

p {
  font-family: "OpenSans-Light", sans-serif;
  font-size: inherit;
  line-height: 28px;
  color: white;
}
p {
  font-size: 18px;
}
@media screen and (min-width: 1010px) {
  p {
    font-size: 14px;
  }
}
@media screen and (min-width: 1210px) {
  p {
    font-size: 14px;
  }
}
@media screen and (min-width: 1532px) {
  p {
    font-size: 17px;
  }
}

strong {
  font-weight: 100;
}

blockquote {
  font-size: 20px;
  text-align: center;
}

@media screen and (min-width: 1010px) {
  blockquote {
    font-size: 15px;
  }
}
@media screen and (min-width: 1210px) {
  blockquote {
    font-size: 17px;
  }
}
@media screen and (min-width: 1532px) {
  blockquote {
    font-size: 20px;
  }
}
ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  background-repeat: no-repeat;
  background-position: left 6px;
  padding-left: 36px;
  margin-bottom: 5px;
}

@media screen and (min-width: 1010px) {
  .list li {
    background-position: left 3px;
    font-size: 14px;
  }
}
menu {
  font-size: 24px;
  text-transform: uppercase;
  text-align: left;
}

/*
*  ============================
*    [team section] 
*  ============================
*/
.team {
  width: auto;
  margin-top: 100px;
}
.team__title, .team__description {
  text-align: center;
}
.team__items {
  margin-top: 50px;
}
.team__item {
  transition: all 0.3s ease-in-out;
}
.team__item__title {
  position: relative;
  top: 25px;
  font-family: "Anton-Regular", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 68px;
  line-height: 100px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.35);
  -webkit-text-fill-color: transparent;
  z-index: 4;
}
.team__item__image {
  position: relative;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}
.team__item__image img {
  max-width: 100%;
  width: 65%;
  height: auto;
  opacity: 1;
}
.team__item__text {
  position: relative;
  z-index: 5;
  max-width: 285px;
  margin-top: -50px;
}
.team__item__text h3 {
  margin-bottom: 8px;
}
.team__item__text p {
  font-size: 16px;
  opacity: 1;
}
.team__item:hover .team__item__title {
  background: radial-gradient(96.96% 142.96% at 49.39% 26.08%, #61e7ff 0%, #858bff 46.27%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.team__item:hover .decor {
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
  color: #61e7ff;
}
.team__item .decor {
  color: #858bff;
}

@media screen and (min-width: 480px) {
  .team__item {
    margin-bottom: 50px;
  }
  .team__item__image img {
    width: 50%;
  }
  .team__item__text {
    margin-top: -90px;
  }
}
@media screen and (min-width: 768px) {
  .team__item__title {
    font-size: 65px;
  }
  .team__item__text {
    margin-top: -120px;
  }
  .team__item__text h3 {
    font-size: 38px;
  }

  .team__items {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    justify-items: center;
    overflow: hidden;
    max-height: none;
  }
}
@media screen and (min-width: 1010px) {
  .team {
    min-height: 700px;
  }
  .team__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .team__text__wrapper {
    width: 50%;
  }
  .team__items {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
    justify-items: center;
    overflow: hidden;
    max-height: none;
  }
  .team__item {
    width: 90%;
  }
  .team__item__title {
    font-size: 70px;
  }
  .team__item__image img {
    width: 45%;
    max-width: 200px;
  }
  .team__item__text {
    margin-top: -95px;
    max-width: 340px;
  }
  .team__item__text h3 {
    font-size: 28px;
  }
  .team__item__text p {
    font-size: 14px;
    line-height: 20px;
    padding-top: 20px;
  }
}
@media screen and (min-width: 1210px) {
  .team__items {
    max-width: 1050px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  }
  .team__item__title {
    font-size: 53px;
  }
  .team__item__text {
    margin-top: -73px;
  }
  .team__item__text p {
    padding-top: 0px;
  }
}
@media screen and (min-width: 1532px) {
  .team {
    margin-bottom: -100px;
  }
  .team__items {
    max-width: 1585px;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
  .team .decor {
    margin-bottom: 20px;
  }
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Nexa", sans-serif;
  overflow-x: auto;
  color: white;
  scroll-behavior: smooth;
  background-image: url(/src/assets/images/page-background.jpg);
}

.container {
  box-sizing: border-box;
  padding: 0 7%;
}

.smooth-container {
  scroll-behavior: smooth;
}

li {
  font-size: 16px;
  line-height: 26px;
}

button {
  width: 326px;
  height: 54px;
  margin-top: 13px;
  border-radius: 27px;
  border: solid #61e7ff;
  background: #61e7ff;
  color: white;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
button:hover {
  border: solid white;
  background: white;
  color: #61e7ff;
}

.button__wrapper {
  display: flex;
  justify-content: center;
}
.button__section {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.button__section button {
  width: 350px;
  height: 100px;
  font-size: 25px;
}

.orange {
  color: orange;
}

.seledin {
  color: #61e7ff;
}

.red {
  color: red;
  font-size: 18px;
}

.bold {
  font-weight: bold;
}

.text--gradient {
  background: radial-gradient(96.96% 142.96% at 49.39% 26.08%, #61e7ff 0%, #858bff 46.27%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mobile-hide {
  display: none;
}

.logo img {
  margin: 0;
  max-width: 300px;
  height: auto;
}

.header {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 4;
}
.header p {
  font-size: 25px;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: none;
}
.menu a {
  text-decoration: none;
  margin-left: 50px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.menu a p {
  font-size: 22px;
  font-weight: bold;
  font-family: "Anton-Regular";
}
.menu a p::after {
  display: none;
}
.menu a:hover p {
  position: relative;
}
.menu a:hover p::after {
  content: "";
  position: absolute;
  display: block;
  left: -19px;
  top: 15px;
  width: 125px;
  height: 19px;
  background-color: #61e7ff;
  z-index: -1;
}

.invest {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.invest__text-button {
  margin-top: 380px;
}

.alert {
  display: none;
  padding: 20px;
  background-color: green;
  color: white;
  transition: all 0.2s ease-in-out;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.contact {
  position: relative;
  z-index: 10;
}
.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/src/assets/images/Chopak_z_tabliczka_1.png);
  background-repeat: no-repeat;
  background-position: 50% top;
  background-size: contain;
  z-index: -3;
}
.contact__text {
  margin-top: 50px;
}
.contact__text-right {
  margin-top: 50px;
}
.contact__footer {
  margin-top: 80px;
  width: 100%;
  text-align: center;
}

.process {
  margin-top: 100px;
}
.process h3 {
  margin: 0;
}
.process__title {
  text-align: center;
}
.process__steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.process__step {
  width: 100%;
  min-height: 200px;
  max-width: 500px;
  border-radius: 20px;
  background-color: white;
  border: 4px solid #61e7ff;
  padding: 30px;
  margin-bottom: 30px;
}
.process__step img {
  width: 64px;
}
.process__step:hover {
  box-shadow: rgb(78, 229, 255) 0px 7px 29px 0px;
}
.process__step__number {
  color: #61e7ff;
}
.process__step__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.process__step__description p {
  margin-top: 0;
  color: black;
  opacity: 1;
  font-weight: bold;
}
.process.whyinvest .process__steps {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  z-index: 10;
}
.process.whyinvest .process__steps__wrapper--left {
  float: left;
}
.process.whyinvest .process__steps__wrapper--right {
  float: right;
}
.process.whyinvest .process__step {
  position: relative;
  background: transparent;
  border: 4px solid #858bff;
  margin-bottom: 80px;
  width: auto;
  background-color: rgba(8, 13, 35, 0.75);
}
.process.whyinvest .process__step:hover {
  webkit-box-shadow: 0 40px 80px 23px rgb(15, 32, 108);
  box-shadow: 0 40px 80px 23px rgb(15, 32, 108);
}
.process.whyinvest .process__step::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: #858bff;
  z-index: 10;
}
.process.whyinvest .process__step::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #858bff;
  z-index: 10;
}
.process.whyinvest .process__step__description p {
  color: white;
}
.process.whyinvest .process__steps__wrapper--left {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 10;
}
.process.whyinvest .process__steps__wrapper--left::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(/src/assets/images/asset_right.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  z-index: -3;
  margin-right: -8%;
}
.process.whyinvest .process__steps__wrapper--left .process__step::before {
  bottom: -33px;
}
.process.whyinvest .process__steps__wrapper--left .process__step::after {
  right: -33px;
  bottom: -33px;
}
.process.whyinvest .process__steps__wrapper--right {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  position: relative;
  z-index: 10;
}
.process.whyinvest .process__steps__wrapper--right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/src/assets/images/asset_left.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  z-index: -3;
  margin-left: -9%;
}
.process.whyinvest .process__steps__wrapper--right .process__step::before {
  bottom: -33px;
  left: -33px;
}
.process.whyinvest .process__steps__wrapper--right .process__step::after {
  left: -33px;
  bottom: -33px;
}

.yt-video {
  margin-top: 100px;
}
.yt-video__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.yt-video__wrapper iframe {
  width: 100%;
  height: 200px;
}

.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto;
  width: 100%;
}
.images img {
  width: 30%;
}

input,
select {
  display: block;
  height: 52px;
  width: calc(100% - 40px);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  border-radius: 27px;
  padding-left: 35px;
  font-size: 16px;
  color: white;
  font-family: "OpenSans-Light", sans-serif;
}
input::placeholder,
select::placeholder {
  font-family: "OpenSans-Light", sans-serif;
  color: black;
  font-size: 16px;
  padding-bottom: 2px;
}

select {
  width: 100%;
  padding-left: 20px;
}
select option {
  color: black;
  background-color: rgba(255, 255, 255, 0.1);
}

textarea {
  display: block;
  height: 36px;
  width: calc(100% - 40px);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  border-radius: 27px;
  padding-left: 35px;
  color: white;
  font-size: 16px;
  padding-top: 17px;
}

.largeTextArea {
  height: 150px;
}

.input-placeholder {
  position: relative;
  display: flex;
}
.input-placeholder-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
}
.input-placeholder-wrapper .input-placeholder {
  flex-direction: column;
  justify-content: flex-start;
  width: 48%;
}
.input-placeholder-wrapper .input-placeholder label {
  font-size: 12px;
  margin-bottom: 7px;
  color: white;
  font-family: "OpenSans-Light", sans-serif;
}

.input-placeholder input:valid + .placeholder {
  display: none;
}

.placeholder {
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  height: 25px;
  left: 10px;
  margin: auto;
  color: #96979b;
  padding-left: 25px;
}
.placeholder span {
  color: red;
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.checkbox input {
  width: 18px;
  height: 18px;
}
.checkbox p {
  margin: 12px;
  font-size: 12px;
  line-height: 18px;
  width: fit-content;
  text-align: left;
}
.checkbox a {
  font-family: "OpenSans-Light", sans-serif;
  color: white;
  font-weight: bold;
}

.term-scroll {
  height: 70px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.term {
  height: auto;
  width: 100%;
}

.summary {
  margin-top: 120px;
  margin-bottom: 100px;
}
.summary__title {
  text-align: center;
}
.summary__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.summary__description p {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #858bff;
  /* The typwriter cursor */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  font-size: 16px;
  animation: typing 5s steps(40, end), blink-caret 1s step-end infinite;
}
.summary__description__right {
  padding-top: 25px;
}
.summary__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.summary__footer__top {
  text-align: center;
}
.summary__footer__right > div {
  margin: 0 auto;
  text-align: center;
  width: 300px;
}
.summary__footer__right > div h4 {
  margin: 0 10px;
}
.summary__footer__right > div button {
  width: 100%;
}

.chart__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.chart__element {
  width: 100%;
}
.chart__inner {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #020a30;
  border-top: 1px solid;
}

@media screen and (min-width: 768px) {
  .instructions__text-right {
    margin-top: 420px;
  }
}
@media screen and (min-width: 1010px) {
  body,
html {
    scroll-behavior: smooth;
  }

  .mobile-hide {
    display: flex;
  }

  .button__section button {
    width: 500px;
    height: 100px;
  }

  .menu {
    display: flex;
  }

  .nav-menu {
    padding: 0;
    justify-content: space-between;
  }

  .logo img {
    margin-left: -64px;
  }

  .invest {
    width: 50%;
    text-align: left;
    margin-top: 50px;
  }

  .invest__text-button {
    margin-top: 0;
  }

  .process__step {
    max-width: 350px;
    margin: 0 15px 30px 15px;
    min-height: 250px;
  }
  .process.whyinvest .process__step {
    min-height: 300px;
  }

  .yt-video__wrapper iframe {
    width: 800px;
    height: 400px;
  }

  .contact__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
  }
  .contact .contact__text-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .contact .contact__text-left h2,
.contact .contact__text-left h4 {
    margin: 0;
  }
  .contact .contact__text-left h2 {
    font-size: 30px;
  }
  .contact__footer {
    margin-top: 50px;
  }
  .contact .contact__text-right {
    width: 30%;
    padding: 0;
    margin-top: 0;
    background-color: transparent;
    zoom: 0.65;
  }
  .contact .contact__text-right h2,
.contact .contact__text-right form {
    padding: 0;
  }
  .contact .button-full {
    width: 100%;
  }

  .summary__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .summary__description__left, .summary__description__right {
    width: 40%;
  }
  .summary__description__right img {
    width: 100%;
    height: auto;
  }
  .summary__footer {
    margin-top: 100px;
  }
  .summary__footer__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .summary__footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
  }
  .summary__footer__left, .summary__footer__right {
    width: 40%;
  }

  .chart__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .chart__element {
    width: 45%;
  }
  .chart__inner {
    width: 100%;
  }

  #canvas-holder {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    position: relative;
  }

  #chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 3px;
    top: 0;
    left: 0;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  .chartjs-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__adress {
    margin-right: 10px;
  }
}
@media screen and (min-width: 1440px) {
  h1 {
    margin-top: 12px;
    font-size: 80px;
    line-height: 80px;
    font-weight: bold;
  }

  h2 {
    font-size: 55px !important;
    line-height: 60px;
    font-weight: bold;
  }

  li {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
  }

  .process__step__number {
    font-size: 55px;
  }
}
@media screen and (min-width: 1600px) {
  .button-full {
    width: 326px;
  }
}
@media screen and (min-width: 1920px) {
  .chart__inner {
    max-width: 550px;
  }
}
@media screen and (min-width: 2560px) {
  .chart__inner {
    max-width: 650px;
  }
}
/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction=horizontal] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction=horizontal] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction=horizontal] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}

[data-scroll-direction=horizontal] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction=horizontal] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}/*# sourceMappingURL=index.css.map */