//=============================
//	[Offcanvas]
//=============================

$offcanvas-move: 335px;

//=============================
//	[Media queries breakpoints]
//=============================

$screen-xs: 480px !default;

$screen-tablet: 768px !default;

$screen-mobile: 969px !default;

$screen-sm: 1010px !default;

$screen-md: 1210px !default;

$screen-lg: 1532px !default;

$screen-xl: 1780px !default;
