// -----------------------------------------BASE ---------------------------------

@font-face {
  font-family: 'nexa-bold';
  src: url('/fonts/nexa-bold.woff2') format('woff2'),
    url('/fonts/nexa-bold.woff') format('woff'), font-weight bold;
}
@font-face {
  font-family: 'nexa-book';
  src: url('/fonts/nexa-book.woff2') format('woff2'),
    url('/fonts/nexa-book.woff') format('woff'), font-weight normal;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Nexa', sans-serif;
  overflow-x: hidden;
  color: white;
  scroll-behavior: smooth;
  background-image: url(/src/assets/images/bg.jpg);
}
.container {
  box-sizing: border-box;
  padding: 0 7%;
}
.smooth-container {
  scroll-behavior: smooth;
}

p {
  font-size: 20px;
  line-height: 30px;
}

h1 {
  font-size: 50px;
  line-height: 50px;
  margin: 30px 0 30px 0;
}
h2 {
  font-size: 30px;
  line-height: 30px;
}
li {
  font-size: 16px;
  line-height: 26px;
}
button {
  width: 326px;
  height: 54px;
  margin-top: 13px;
  border-radius: 27px;
  border: solid #f6921e;
  background: #f6921e;
  color: white;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
	text-transform: uppercase;
	
	&:hover {
		border: solid white;
	background: white;
	color:  #f6921e;
	}
}

.orange {
  color: orange;
}
.red {
  color: red;
  font-size: 18px;
}
.bold {
  font-weight: bold;
}

// -------------------HEADER INVEST -------------------------------------------------------
.mobile-hide {
  display: none;
}

.logo {
  img {
    margin: 0;
    max-width: 300px;
    height: auto;
  }
}

.header {
  position: relative;
  width: 100%;
  height: 1300px;
  z-index: 4;

  &::before {
    content: '';
    position: absolute;
    background-image: url(/src/assets/images/image1.png);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 145% auto;
    background-position: center 78%;
    background-repeat: no-repeat;
    z-index: -1;
  }
  p {
    font-size: 25px;
    font-weight: bold;
  }
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: none;
  a {
    text-decoration: none;
    margin-left: 50px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;

    p {
      font-size: 18px;
      font-weight: bold;
    }
  }
}

.active {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    display: block;
    left: -19px;
    top: 15px;
    width: 165px;
    height: 19px;
    background-color: orange;
    z-index: -1;
  }
}

.invest {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
.invest__text-button {
  margin-top: 380px;
}

// --------------------------------------- BENEFITS ----------------------------------------
.benefits {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 1000px;
  margin-top: -128px;
  z-index: 4;

  &::before {
    content: '';
    position: absolute;
    background-image: url(/src/assets/images/image2.png);
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    background-size: 145% auto;
    background-position: 73% 104%;
    background-repeat: no-repeat;
  }
}

.benefits__text {
  text-align: left;
  width: 70%;

  p {
    font-size: 18px;
    margin-top: 0;
    font-weight: bold;
  }

  ul {
    padding-left: 15px;
    list-style: none;

    li {
      &::before {
        content: '\2022';
        color: orange;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }
}

// --------------------------------------- INSTRUCTIONS ----------------------------------------
.instructions {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  z-index: 4;

  &::before {
    content: '';
    position: absolute;
    background-image: url(/src/assets/images/image3.png);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 153% auto;
    background-position: center 8%;
    background-repeat: no-repeat;
    z-index: -1;
  }
  form {
    z-index: 10;
  }
}
.instructions__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -145px;
}
.instructions__text-left {
  width: 100%;
  text-align: center;
}
.instructions__text-right {
  width: 100%;
  background-color: #020d42;
  padding: 20px 50%;
  margin-top: 300px;
  h2 {
    padding: 0 10%;
  }
  form {
    padding: 0 10%;
  }
}

input {
  display: block;
  height: 52px;
  width: calc(100% - 40px);
  background-color: rgba(255, 255, 255, 0.65);
  border: 1px solid white;
  border-radius: 27px;
  padding-left: 35px;
  font-size: 16px;
  font-family: 'Nexa', sans-serif;

  &::placeholder {
    font-family: 'Nexa', sans-serif;
    color: black;
    font-size: 16px;
    padding-bottom: 2px;
  }
}

textarea {
  display: block;
  height: 36px;
  width: calc(100% - 40px);
  background-color: rgba(255, 255, 255, 0.65);
  border: 1px solid white;
  border-radius: 27px;
  padding-left: 35px;
  font-family: 'Nexa', sans-serif;
  font-size: 16px;
  padding-top: 17px;
}
.largeTextArea {
  height: 150px;
}

.input-placeholder {
  position: relative;
}
.input-placeholder input:valid + .placeholder {
  display: none;
}

.placeholder {
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  height: 25px;
  left: 10px;
  margin: auto;
  color: #7c7e82;
  padding-left: 25px;

  span {
    color: red;
  }
}
.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 18px;
    height: 18px;
  }
  p {
    margin: 12px;
    font-size: 14px;
    line-height: 18px;
  }
  a {
    color: white;
  }
}
.term-scroll {
  height: 70px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.term {
  height: auto;
  width: 100%;
}
//  ---------------------------FOOTER----------------------------------------------
.footer {
  display: flex;
  flex-direction: column;
  text-align: center;

  background-color: #020a30;
  border-top: 1px solid;
}
@media screen and (min-width: 768px) {
  .instructions__text-right {
    margin-top: 420px;
  }
}

@media screen and (min-width: 1010px) {
  // --------------------------------HEADER INVEST ------------------------------------
  body,
  html {
    scroll-behavior: smooth;
  }
  .header {
    height: 900px;

    &::before {
      background-size: 70% auto;
      background-position: 115% center;
    }
  }
  .mobile-hide {
    display: flex;
  }
  .menu {
    display: flex;
  }
  .nav-menu {
    padding: 0;
    justify-content: space-between;
  }
  .logo {
    img {
      margin-left: -64px;
    }
  }
  .invest {
    width: 50%;
    text-align: left;
    margin-top: 50px;
  }
  .invest__text-button {
    margin-top: 0;
  }
  // ----------------------------BENEFITS-----------------------------------------------
  .benefits {
    justify-content: flex-end;
    height: 700px;
    margin-top: -270px;

    &::before {
      background-size: 70% auto;
      background-position: -63% center;
      background-repeat: no-repeat;
    }
  }

  .benefits__text {
    width: 50%;
    padding-top: 150px;
    p {
      font-weight: bold;
    }
  }
  // ----------------------------INSTRUCTIONS-----------------------------------------------
  .instructions {
    height: 1050px;
    margin-top: -140px;

    &::before {
      bottom: 0;
      height: 100%;
      background-size: 80% auto;
      background-position: center 100%;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
  .instructions__text {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-size: cover;
    padding-top: 60px;
  }

  .instructions__text-left {
    width: 35%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .instructions__text-right {
    width: 40%;
    padding: 0;
    margin-top: 95px;
    background-color: transparent;

    h2,
    form {
      padding: 0;
      margin-left: 65px;
    }
  }
  .button-full {
    width: 100%;
  }
  // ---------------------------------------FOOTER-----------------------------------------------
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer__adress {
    margin-right: 10px;
  }
}
@media screen and (min-width: 1366px) {
  // --------------------------------------------BENEFITS----------------------------------
  .benefits {
    height: 950px;
  }
  .benefits__text {
    padding-top: 250px;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    margin-top: 12px;
    font-size: 80px;
    line-height: 80px;
    font-weight: bold;
  }
  h2 {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
  }
  li {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
  }
  .instructions {
    height: 1300px;
  }
  .instructions__text-right {
    width: 35%;
  }
}
@media screen and (min-width: 1600px) {
  .button-full {
    width: 326px;
  }
  .header {
    height: 1070px;
    &::before {
      background-position: 128% 100%;
    }
  }
}
@media screen and (min-width: 1920px) {
  .header {
    height: 1270px;
    &::before {
      background-position: 105% 30%;
      background-size: 60% auto;
    }
  }
  .benefits {
    height: 1100px;

    &::before {
      background-position: -20% 30%;
      background-size: 60% auto;
    }
  }
  .instructions {
		height: 1320px;
		margin-top: -350px;
    &::before {
      background-position: center center;
      background-size: 70% auto;
    }
  }
}
@media screen and (min-width: 2560px) {
  .benefits {
    height: 1300px;
  }
  .benefits__text {
    padding-top: 350px;
	}
	.instructions {
		height: 1600px;
	}
}
